.duda{
    background-color: rgb(68, 117, 163);
    text-align: center;
}
.pato{
    display: inline-block;
    margin: 0 5px;
    
}
 h5{
    font-size: 20px;
 }
 h3{
    font-size: 20px;
 }
 h4{
    font-size: 20px;
 }
 .maduzinha{
    background-color: rgb(68, 117, 163);
 }
 
 